body, html {
    border: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Varela Round', sans-serif;
}

canvas {
    width: 100%;
    height: 100%;
}

#panel {
  display: block;
  margin: 2em 0 0 2em;
  position: absolute;
  width: 20vw;
  padding: 1em;
  color: white;
  background-color: rgba(86.7, 89.25, 91.8, 0.7);
  border-radius: 25%;
}

#panel h1, #panel div {
  text-align: center;
}